    <footer class= "container-lg">
        <div class="footer-content">
            <h3>Foolish Developer</h3>
            <p>Raj Template is a blog website where you will find great tutorials on web design and development. Here each tutorial is beautifully described step by step with the required source code.</p>
            <ul class="socials">
                <li><a href="https://www.instagram.com/_abhishek_dubey_1/" target="blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/abhishek141214" target="blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://github.com/abhishekdubey1412/" target="blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/abhishek-dubey1/" target="blank"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Foolish Developer</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Blog</a></li>
                      </ul>
                    </div>
        </div>
    </footer>
</body>
</html>