{% extends 'base.html' %}
{% block content %}
<div class="container-lg">
  <div class="card-group">
    <div class="card">
      <img src="/static/Image/yt_down.jpg" class="card-img-top" alt="Youtube Downloader">
      <div class="card-body">
        <h5 class="card-title">Youtube Downloader</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <a href='/youtube_downloader'>
          <button type="button" class="btn btn-primary">Download</button>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="/static/Image/jpg-to-png.jpg" class="card-img-top" alt="JPG to PNG Converter">
      <div class="card-body">
        <h5 class="card-title">JPG to PNG Converter</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href='/jpg-to_png'>
          <button type="button" class="btn btn-primary">Converter</button>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="/static/Image/Convert-PDF-to-JPEG-and-PNG.png" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">PDF to JPG and PNG Converter</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that.</p>
        <a href='/pdf_to_jpg'>
          <button type="button" class="btn btn-primary">Converter</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock  %}