{% extends 'base.html' %}
{% block content %}
  <div class="container-lg">
    <div class="heading_title">
      <h1 class="centered-heading" style="text-align: center; margin-top: 20px">PDF TO JPG</h1>
      <hr class="centered-hr">
    </div>
    <div class="input-group" style="width:60%; margin:40px auto 0 auto">
      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
        aria-label="Upload">
      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Convert</button>
    </div>
    <div class="container">
      <div class="content-container">
        <img src="/static/Image/Convert-PDF-to-JPEG-and-PNG.png" class="large-image" alt="...">
      </div>
    </div>
  </div>
{% endblock  %}